<div
  style="text-align: left; max-width: 600px; margin: 0 auto; background-color: #f0f0f0; border-radius: 12px"
>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td style="padding: 24px">
        <p style="margin: 0; margin-bottom: 12px; color: #000000">
          Hallo!
        </p>

        <p style="margin: 0; margin-bottom: 12px; color: #000000">
          Du hast eine Zurücksetzung deines Passworts auf <b>CorrectHub</b>
          angefordert.
        </p>

        <p style="margin: 0; margin-bottom: 6px; color: #000000">
          Klicke auf den Button unten, um dein Passwort zurückzusetzen:
        </p>
      </td>
    </tr>
  </table>
</div>

<p><br /></p>

<a
  style="background-color: #3b82f6; border-radius: 4px; border-bottom: 4px solid #1d4fd8; color: #ffffff; padding: 12px 20px; text-decoration: none; font-size: 18px; font-weight: bold"
  href="{{resetUrl}}"
>
  Passwort zurücksetzen
</a>

<div
  style="text-align: left; max-width: 600px; margin: 0 auto; padding-top: 2px; padding-bottom: 2px; color: #808080"
>
  <p style="color: #808080">
    Sollte der Button nicht funktionieren, klicke oder kopiere bitte den
    folgenden Link:<br />
    <a
      style="color: #808080; word-break: break-all"
      href="{{resetUrl}}"
    >{{resetUrl}}</a>
  </p>
</div>
