# Willkommen auf CorrectHub

Hallo {{username}}!

Bitte klicke auf folgenden Link um deine E-Mail Adresse zu verifizieren:

{{verificationUrl}}
